<%- include('../partials/header') %>

<h5>Richmond Hill</h5>

<div class="addGasBtn"><a href="/gas/new">New Gas</a></div>

<div class="container">

  <% gas.forEach(function(m) { %>

  <div class="contentTwo">
   
    <div class="stationList">
          <div class="data">
              <div class="text">
              <p class="gasBar"><%= m.stationName %></p>
                  <div class="infoTwo">
                    <p><%= m.streetNumber %> <%= m.streetName %>. <%= m.postalCode %> </p>
                  </div>
              </div>
          </div>
  
        <div class="data">
            <div class="consumptionData">
                <p><%= m.gasPrice %></p>
                <hr>
                <p>per litre</p>
            </div>
             
            <div class="indexBtn">
                <a href="/gas/<%= m._id %>" class="detailBtn">Details</a>
                <form action="/gas/<%= m._id %>?_method=DELETE" method="POST">
                <input type="submit" class ="deleteBtn" value="Delete">
                </form>
            </div>
        </div>
         
     </div>
    </ul>
    <% }); %>

<%- include('../partials/footer') %>


