<%- include('../partials/header') %>

<div class="content">
    <div class="poster">
      <div class="poster-title">
        <h1> <%= gas.stationName %> </h1>
        <div class="line"></div>
      </div>

    </div>
    <div class="info">
      <div class="block published">
        <div class="mini-title">City</div>
        <%= gas.city %>
      </div>
      <div class="block published">
        <div class="mini-title">Address</div>
        <%= gas.streetNumber %> <%= gas.streetName %>. <%= gas.postalCode %>
      </div>
      <div class="block published">
    
        <div class="mini-title">Price/litre</div>  

        <%= gas.gasPrice %>
        <button class="open-button" onclick="openForm()">Update</button>
        

      </div>
      <div class="block published">
        <div class="mini-title">Business</div>
        12 min
      </div>
    </div>


    <div class="form-popup" id="myForm">

        <h2>Update</h2>
        <form action="/gas/<%= gas._id %>" method="POST">
        <label>Gas Price:
          <input type="string" name="gasPrice">
        </label><br>
        <label>Street Number:
          <input type="string" name="streetNumber">
        </label><br>
        <label>Street Name:
          <input type="string" name="streetName">
        </label><br>
        <label>Postal Code:
          <input type="string" name="postalCode">
        </label><br>
        <label>Station:
          <input type="string" name="stationName">
        </label><br>
 

  
        <input type="submit" value="Update">
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        
      </form>
    </div>

    <script>
      function openForm() {
        document.getElementById("myForm").style.display = "block";
      }
      
      function closeForm() {
        document.getElementById("myForm").style.display = "none";
      }
      </script>

  <h2>Comments</h2>
      <form id="add-review-form" method="POST" action="/gas/<%= gas._id %>/reviews">
        <label>Review:</label> 
        <textarea name="content"></textarea>
        <label>Rating:</label>
        <select name="rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <input type="submit" class="submitBtn2" value="Add Review">
      
      </form>
      
  


      <% if (gas.reviews.length) { %>
        <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>Review</th>
              <th>Rating</th>
            </tr>
          </thead>
          <tbody>
            <% let total=0 %>
              <% gas.reviews.forEach(function(r) { %>
                <% total +=r.rating %>
                  <tr>
                    <td>
                      <%= r.createdAt.toLocaleDateString() %> @ <%= r.createdAt.toLocaleTimeString()  %>
                    </td>
                    <td>
                      <%= r.content %>
                    </td>
                    <td>
                      <%= r.rating %>
                    </td>
                  </tr>
                  <% }); %>
                    <tr>
                      <td colspan="2"></td>
                      <td><strong>
                          <%= (total / gas.reviews.length).toFixed(1) %>
                        </strong></td>
                    </tr>
          </tbody>
        </table>
        <% } else { %>
          <h5>No Reviews Yet</h5>
          <% } %>
    
    


    








    
    <%- include('../partials/footer') %>



