<%- include('../partials/header') %>



<div class="content">
    <div class="poster">
        <div class="poster-title">
          <h1> <%= gas.stationName %> </h1>
          <div class="line"></div>
        </div>
     </div>


    <div class="info">
      <div class="block">
        <div class="blockTitle">City</div>
        <%= gas.city %>
      </div>
      <div class="block">
        <div class="blockTitle">Address</div>
        <%= gas.streetNumber %> <%= gas.streetName %>. <%= gas.postalCode %>
      </div>
      <div class="block">
        <div class="blockTitle">Price/litre</div>  
        <%= gas.gasPrice %>
        <button class="openBtn" onclick="openForm()">Update</button>
      </div>
      <div class="block">
        <div class="blockTitle">Type</div>
        Petrol
      </div>
    </div>



    <div class="form-popup" id="updateForm">
    <h2>Update Gas Price</h2>
      <form action="/gas/<%= gas._id %>" method="POST">
         <label>New Price:
            <input type="string" name="gasPrice">
         </label><br>
        <input type="submit" class="saveBtn" value="Save">
        <button type="button" class="closeBtn" onclick="closeForm()">Close</button>   
      </form>
    </div>

    <script>
      function openForm() {
        document.getElementById("updateForm").style.display = "block";
      }
      
      function closeForm() {
        document.getElementById("updateForm").style.display = "none";
      }
      </script>




  <h2>Updates</h2>
      <form id="add-review-form" method="POST" action="/gas/<%= gas._id %>/reviews">
        <label>Review:</label> 
        <textarea name="content"></textarea>
        <label>Status:</label>
        <select name="status">
          <option selected="selected">How busy is it?</option>
          <option value="Busy">Busy</option>
          <option value="Not Busy">Not Busy</option>
        </select>
        <input type="submit" class="submitBtn2" value="Add Comment">
      
      </form>
      

      <% if (gas.reviews.length) { %>
        <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>Review</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <% let total=0 %>
              <% gas.reviews.forEach(function(r) { %>

                  <tr>
                    <td>
                      <%= r.createdAt.toLocaleDateString() %> @ <%= r.createdAt.toLocaleTimeString()  %>
                    </td>
                    <td>
                      <%= r.content %>
                    </td>
                    <td>
                      <%= r.status %>
                    </td>
                  </tr>
                  <% }); %>
          </tbody>
        </table>
        <% } else { %>
          <h5>No Reviews Yet</h5>
          <% } %>
    
    


    








    
    <%- include('../partials/footer') %>



